*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 625%;
}
body{
	font-size: 0.14rem;
}
.headClass{
	height: 0.44rem;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 0.44rem;
	margin-bottom: 0.05rem;
}
