*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 625%;
}
body{
	font-size: 0.14rem;
}
a{
	text-decoration: none;
}
p{
	line-height: 0.20rem;
	margin-bottom: 0.05rem;
}
.headClass{
	height: 0.44rem;
	width: 100%;
	color: white;
	text-align: center;
	line-height: 0.44rem;
	margin-bottom: 0.05rem;
}
.back_gradient {
	background: -webkit-linear-gradient(left, #FF1E00, #FFC100);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(left, #FF1E00, #FFC100);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(left, #FF1E00, #FFC100);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(left, #FF1E00, #FFC100);
	/* 标准的语法 */
}
.button{
	margin: 0 auto;
	display: block;
	height: 0.44rem;
	width: 70%;
	color: white;
	line-height: 0.44rem;
	font-size: 0.15rem;
	text-align: center;
	border-radius: 0.05rem;
	margin-top: 0.1rem;
}
