<!DOCTYPE html>
<html>

<head>
    <title>注册</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layUI/layui-v2.4.5/css/layui.css" media="all">
    <style>
    
        
    </style>
</head>

<body>
    <header>

    </header>
    <div class="register">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入您的姓名"
                        class="layui-input">
                </div>
            </div>
        </form>
    </div>

</body>

</html>